<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<div class="jumbotron text-center">
    <h2 class="display-4">
        h2 <small>display 4</small>
    </h2>
    <h3 class="display-6">
        h3
        <mark>display 6</mark>
    </h3>
</div>
<div class="container">
    <div class="row">
        <div class="col-4"><abbr title="Text!">Text</abbr> to print 001
            <ol> My list
                <li><span class="text-muted">item</span> 01</li>
                <li>item 02</li>
            </ol>
        </div>
        <div class="col-4">Text <abbr title="TO!">to</abbr> print 002
            <div>Use <kbd>Ctrl+C</kbd> to copy</div>
        </div>
        <div class="col-4"><span class="text-primary">Text</span> to <abbr title="PRINT!!">print</abbr> 003
            <pre>
for multiple lines
of code we <span class="text-danger">using</span> pre
tag and have fun
            </pre>
        </div>
    </div>
</div>

</body>
</html>