<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Images</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
    <h3>There is demo for images</h3>
</div>

<div class="container"><img src="/img/paris.jpg" alt="paris" class="rounded"></div>
<div class="container"><img src="/img/English.jpg" alt="English" class="rounded-circle"></div>
<div class="container"><img src="/img/English.jpg" alt="English" class="img-thumbnail" height="300" width="300"></div>
<div class="container">
    <img src="/img/English.jpg" alt="English" class="img-thumbnail float-right" height="300" width="300">
    <img src="/img/English.jpg" alt="English" class="rounded-circle img-thumbnail float-left" height="300" width="300">
</div>
<div class="container"><img src="/img/paris.jpg" alt="Paris" class="ms-auto d-block"></div>

</body>
</html>