<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First jumbotron</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Text for general jumbotron</h1>
        <p>Some text here</p>
    </div>
</div>
<div class="container">
    Link to another jumbotron: <a href="/jumbotrons/another">Link</a>
</div>

<div class="container">
    <div class="alert alert-primary alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Information there
    </div>
</div>
<div class="container">
    <div class="alert alert-danger">
        Non closable alert
    </div>
</div>

</body>
</html>